// Variables -----------------------------------------------------------------------
$sitecolor1  : #CF2F2F;
$sitecolor2  : #EF580F;
$sitecolor3  : #FFA700;
$sitecolor4  : #cecc41;
$sitecolor5  : #74D876;
$sitecolor6  : #76D6B1;
$sitecolor7  : #77B6D9;
$sitecolor8  : #7698D5;
$sitecolor9  : #B276D6;
$sitecolor10 : #D575D7;

$colorList: $sitecolor1, $sitecolor2, $sitecolor3, $sitecolor4, $sitecolor5, $sitecolor6, $sitecolor7, $sitecolor8, $sitecolor9, $sitecolor10;
// ---------------------------------------------------------------------------------
